{:paths ["src"]
 :deps {io.github.kotoba-lang/dom-gpu {:local/root "../dom-gpu"}
        io.github.kotoba-lang/cssom {:local/root "../cssom"}
        io.github.kotoba-lang/htmldom {:local/root "../htmldom"}
        io.github.kotoba-lang/quickjs {:local/root "../quickjs"}
        io.github.kotoba-lang/org-w3-aria {:local/root "../org-w3-aria"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :browser-use {:extra-deps {io.github.kotoba-lang/browser-use
                             {:local/root "../browser-use"}}}
  :browser-use-test {:extra-paths ["test-browser-use"]}
  :cljs {:extra-paths ["test-cljs"]
         :extra-deps {thheller/shadow-cljs {:mvn/version "2.28.20"}}}
  :smoke {:main-opts ["-m" "browser.visual-smoke-check"]}
  ;; clj-kondo as a Clojars lib (no Homebrew/system install needed).
  :lint {:replace-deps {clj-kondo/clj-kondo {:mvn/version "2024.11.14"}}
         :main-opts ["-m" "clj-kondo.main" "--lint" "src" "test"
                     "--fail-level" "error"]}}}
